body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    height:100%;
    width:100%;
    margin:0;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* General */

.centered {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #fff;
    text-decoration: none;
}

    a:hover{
        color: #fff;
        text-decoration: none;
    }

    a:visited {
        color:#fff;
        text-decoration: none;
    }

.mainText{
    color: #00529B;
}

.button {
    font-size: 100%;
    padding: .5em 1.5em;
    color: #fff;
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #00529B;
    text-decoration: none;
    border-radius: 2px;
    -webkit-transition: .1s linear -webkit-box-shadow;
    -moz-transition: .1s linear -moz-box-shadow;
    -ms-transition: .1s linear box-shadow;
    -o-transition: .1s linear box-shadow;
    transition: .1s linear box-shadow;
}

.titleContainer{
    font-size: 200%;
    font-weight: bold;
    width:75%;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
}

.title {
    text-align:center;
}

/* Home */
#homeTitle {
    margin-top:3em !important;
}

#start {
    width: 20%;
    margin-top: 5em;
    text-align:center;
    font-size: 150%;
}

#logo{
    height: 133px;
    width: 220px;
    margin-top:5%;
    background: url("Images/brunel_logo.jpg");
    background-repeat: no-repeat;
    background-origin:content-box;
    padding-right:5px;
}

/* Configuration */

#inputContainer {
    margin-top: 2em;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    border: 1px solid #00529B;
    text-decoration: none;
    border-radius: 15px;
    display:table;
}

.row {
    display: table-row;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.cell {
    display:table-cell;
}

.label {
    text-align: right;
}

/* Experiment */
.circle { 
    border-radius: 50%;
    background-color:#7F7F7F;
    border-color:#7F7F7F;
    border-width:2px;
    position:absolute;
    border-style:solid;
    opacity: 0;
}