@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/flightSim.js"></script>

<div id="homePage">
    <div id="logo" class="centered"></div>

    <div id="homeTitle" class="titleContainer">
        <div class="title">Level 3 Aviation Engineering Experimental Research</div>
    </div>

    <!-- Form to set the closing speed, pass to the experiment controller -->
    <a id="startButton" href="@Url.Action("Index", "Experiment")"><div id="start" class="centered button">START</div></a>
</div>
